/* You can add global styles to this file, and also import other style files */
.activeLink{
    color: blue !important;
    font-weight: bold !important;
    transform: scale(1.2);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
